<%include header%>
<head>
  <link rel=stylesheet type="text/css" href="chat.css">
</head>
<body>
    <div class="top">
        <span id="user" style="float:left; font-size:1.5em;"><%= username %></span>
        <span style="font-size:3em; font-family:Cursive;">CNLine</span>
        <span style="float:right;">&nbsp;<input type="submit" value="登出" onclick="location.href='/login'"></span>
    </div>
    <div class="left">
        <div style="overflow:auto;">
            <table width="100%" style="padding-top:20px; padding-bottom:20px; border-bottom:1px solid;">
                <% for( var idx = 0; idx < userlist.length; idx++) { %>
                    <% if(idx % 2 === 0) { %>
                        <tr><td class="name_even name_offline" onclick=userClick(this) id=<%= userlist[idx].id %>><%= userlist[idx].username %></td></tr>
                    <% } %>
                    <% if(idx % 2 === 1) { %>
                        <tr><td class="name_odd name_offline" onclick=userClick(this) id=<%= userlist[idx].id %>><%= userlist[idx].username %></td></tr>
                    <% } %>
                <% } %>
            </table>
            <table width="100%" style="padding-top:20px; padding-bottom:20px;">
            </table>
        </div>
        <input type="button" value="lobby" onclick=openLobby() style="position:absolute; bottom:10px; left:10px; font-size:1.5em">
        <input type="button" value="+" onclick=groupCreate() style="position:absolute; bottom:10px; right:10px; font-size:1.5em">
    </div>
    <div class="main" id="chatRoom">
        <div id="roomName" style="height:30px; width:100%; border-bottom:2px solid; text-align:center; font-size:1.25em"></div>
        <div id="chatContentDiv" style="position:absolute; top:40px; bottom:60px; width:100%; overflow:auto;">
            <table id="chatContent" style="padding-left:50px;">
            </table>
        </div>
        <table style="height:60px; width:100%; position:absolute; bottom:0px;">
            <tr>
                <td>
                    <div class="fileUpload">
                        <span id="file_btn_txt">檔案</span>
                        <input id="file" class="upload" type="file" onchange=fileUpload() multiple>
                        <input id="file_cancel" class="cancel" type="button" onclick=fileCancel()>
                    </div>
                </td>
                <td style="width:100%;"><input id="message" type="text" autofocus style="width:100%; font-size:1.25em;" maxlength="100"></td>
                <td><input type="button" value="傳送" onclick=sendMsg() style="font-size:1.25em;margin:10px;"></td>
            </tr>
        </table>
    </div>
    <div id="groupCreate" class="center">
        <input class="close" type="button" value="X" onclick=groupCancel()> 
        <span style="position:absolute; top:10px; left:30px; font-size:1.2em;">按下左邊的人名加入或取消</span>
        <ul id="groupMember" style="position:absolute;top:30px;bottom:30px; list-style-type:none; font-size:1.2em; overflow:auto">
            <li> <%= username %> </li>
        </ul>
        <input id="groupName" class="groupName" type="text" value="輸入群組名稱">
        <input type="button" value="確定" onclick=groupBuild() style="position:absolute; bottom:10px; right:10px; border-radius:10px;">
    </div>
    <div id="fileSending" class="center">
        <div style="margin:auto; text-align:center; font-size:3em;">傳送中....</div>
    </div>
    <script src="https://code.jquery.com/jquery-1.10.2.min.js"></script>
    <script src="/socket.io/socket.io.js"></script>
    <script src="./js/delivery.js"></script>
    <script>
        var socket = io();
        var delivery = new Delivery(socket);
        var opened_id = -1;
        var state = "chatting"; // chatting or grouping or sending
        var sendingQueue = new Array();

        function userClick(user) {
            if (state === "chatting") {
                openRoom(user);
            }
            else if (state === "grouping") {
                groupMemberHandle(user.id);
            }
            else if (state === "sending") {
            }
            else {
                alert("???");
            }
        }
        function openRoom(group) {
            console.log("open room " + group.id);
            opened_id = group.id;
            $("#message").val("");
            $("#file").val("");
            fileCancel();
            if($("#roomName").text() == group.innerHTML){
                return;
            }
            $("#roomName").text(group.innerHTML);
            $("#chatRoom").hide();
            $("#chatContent tr").remove();
            $("#chatRoom").show("fast");
            $("#"+group.id).removeClass('new_msg');
            $("#file").prop('disabled', false);
            socket.emit('open room', opened_id);
        }
        function openLobby() {
            console.log("open lobby");
            opened_id = 0;
            $("#message").val("");
            $("#file").val("");
            fileCancel();
            if($("#roomName").text() == "lobby"){
                return;
            }
            $("#roomName").text("lobby");
            $("#chatRoom").hide();
            $("#chatContent tr").remove();
            $("#chatRoom").show("fast");
            $("#file").prop('disabled', true);
            socket.emit('open lobby');
        }
        function fileUpload() {
            var files = document.getElementById("file").files;
            var names="";
            for(var i = 0; i < files.length; i++)  {
                names += files[i].name + "; ";
            }
            $("#message").val(names);
            $("#message").prop("disabled", true);
            $("#file").hide();
            $("#file_cancel").show();
            $("#file_btn_txt").text("取消");
        }
        function fileCancel() {
            $("#file").val("");
            $("#message").prop("disabled", false);
            $("#message").val("");
            $("#file").show();
            $("#file_cancel").hide();
            $("#file_btn_txt").text("檔案");
        }
        $("#message").keydown( function(event){
            if (event.keyCode == 13) {
                sendMsg();
            }
        });
        function sendMsg() {
            if ($("#message").val() != "") {
                $("#chatContent").append(
                    $("<tr>").append(
                        $("<td>").text(
                            $("#user").text() + ": " + $("#message").val()
                        )
                    )
                );
                var objDiv = document.getElementById("chatContentDiv");
                objDiv.scrollTop = objDiv.scrollHeight;
                var new_message = {
                    to: opened_id,
                    msg: $("#user").text() + ": " + $("#message").val()
                };
                console.log("new message: ", new_message);
                socket.emit('new message', new_message);
                $("#message").val("");
            }
            var files = document.getElementById("file").files;
            if(files.length > 0) {
                for(var i = 0; i < files.length; i++) {
                    // delivery.send(files[i]);
                    sendingQueue.push(files[i]);
                }
                if (sendingQueue.length === files.length) {
                    $("input").each( 
                        function(idx) {
                            $(this).prop("disabled", true);
                        }
                    );
                    state = "sending";
                    $("#fileSending").show();
                    delivery.send(sendingQueue.shift());
                }
            }
        }
        function groupCreate() {
            $("#groupCreate").show();
            state = "grouping";
        }
        function groupCancel() {
            $("#groupCreate").hide();
            state = "chatting";
        }
        function groupBuild(){
            //socket.emit();
            $("#groupCreate").hide();
            state = "chatting";
        }
        function groupMemberHandle(id) {
            var name = $("#"+id).text();
            if (name === $("#user").text())
                return ;
            if ($("#gm_"+id).length > 0) {
                $("#gm_"+id).remove();
            }
            else {
                var tmp_li = $("<li>").text(name);
                tmp_li.attr("id" ,"gm_" + id);
                $("#groupMember").append(tmp_li);
            }
        }
        delivery.on("send.success", function(fileObj) {
            console.log(fileObj.name + " file sent successfully. uid:" + fileObj.uid);
            var message = {
                to: opened_id,
                filename: fileObj.name
            };
            console.log("file sent: ", message);
            socket.emit('file sent', message, function(ack) {
              if (!ack.online)
                alert($("#"+opened_id).text() + ' 不在線上');
            });
            if (sendingQueue.length > 0) {
                delivery.send(sendingQueue.shift());
            }
            else {
                $("#fileSending").hide();
                state = "chatting";
                $("input").each( 
                    function(idx) {
                        $(this).prop("disabled", false);
                    }
                );
                fileCancel();
            }
        });

        socket.on('file incoming', function (obj) {
            console.log(obj);
            console.log("Download file request from " + $("#"+obj.sender_id).innerHTML);
            if (confirm($("#"+obj.sender_id).text() + ' 傳送檔案 ' + obj.filename + ' 給你，確認接收?')) {
                var message = {
                  ok: true,
                  filename: obj.filename
                };
                socket.emit('file confirm', message);

                var url = window.location.href;
                var arr = url.split('/');
                window.open(arr[0] + '//' + arr[2] + '/download?filename=' + obj.filename);
            } else {
                var message = {
                  ok: false,
                  filename: obj.filename
                };
                socket.emit('file confirm', message);
            }
        });
        socket.on('broadcast msg', function (data) {
            if(data.sender_id == opened_id && $("#"+data.sender_id).text() != $("#user")){
                $("#chatContent").append(
                    $("<tr>").append(
                        $("<td>").text(
                            data.msg
                        )
                    )
                );
                var objDiv = document.getElementById("chatContentDiv");
                objDiv.scrollTop = objDiv.scrollHeight;
            }
            if(data.sender_id != opened_id){
                $("#"+data.sender_id).addClass('new_msg');
            }
        });
        socket.on('broadcast lobby msg', function (msg) {
            if(0 == opened_id){
                $("#chatContent").append(
                    $("<tr>").append(
                        $("<td>").text(
                            msg
                        )
                    )
                );
                var objDiv = document.getElementById("chatContentDiv");
                objDiv.scrollTop = objDiv.scrollHeight;
            }
        });
        socket.on('online', function (id) {
            $("#"+id).removeClass('name_offline');
            $("#"+id).addClass('name_online');
        });
        socket.on('offline', function (id) {
            $("#"+id).removeClass('name_online');
            $("#"+id).addClass('name_offline');
        });
        socket.on('log response', function (data) {
            if(data.uid == opened_id){
                data.log_msg.forEach(function(obj) {
                    $("#chatContent").append(
                        $("<tr>").append(
                            $("<td>").text(
                               obj.msg
                            )
                        )
                    );
                });
                var objDiv = document.getElementById("chatContentDiv");
                objDiv.scrollTop = objDiv.scrollHeight;
            }
        });
    </script>
</body>
